.App {
  text-align: center;
}

.board{
  position: relative;
}

.status {
  padding-bottom: 20px;
  font-size: 70px;
}

.status h1 {
  color: coral;
}

.col-one {
  height: 100px;
  position: relative;
}

.col-one button{
  width: 100px;
  height: 100px;
  border: 1px solid black;
  font-size: 50px;
  font-weight: bold;
}

.button:active {
  position: absolute;
  top:1px;
}

.col-one button:hover{
  cursor: pointer;
}

.col-one button:focus {
  outline: none;
}

.move-bold{
  font-weight: bold;
}